<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="#" />
    <title>Vite App</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="/system.js"></script>
    <script type="systemjs-importmap">
      {
        "imports": {
          "index": " http://localhost:5010/mic-component.mjs"
        }
      }
    </script>
    <!-- <script>
      System.SystemJS.config({
        map: {
          "my-button": "http://localhost:5010/my-button.es.js",
        },
        packages: {
          defaultExtension: "js",
        },
      });
    </script> -->
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
